.no {
    min-width: 5px;
    max-width: 10px;
}

.postImg, .title {
    min-width: 150px;
    max-width: 200px;
    min-height: 100px;
    max-height: 100px;
}

.excerpt {
    min-width: 200px;
    max-width: 250px;
}

